<div class="container-p d-flex justify-content-center align-items-center">

    <div class="progresses">
                        <div class="steps">
                            <span class="font-weight-bold">P</span>
                        </div>
    
                        <span class="line"></span>
    
                        <div class="steps">
                            <span class="font-weight-bold">Sous_P</span>
                        </div>
    
    
                        <span class="line"></span>
    
                        <div class="steps">
                          <span class="font-weight-bold">Action</span>
                        </div>
                        <span class="line"></span>
    
                        <div class="steps">
                          <span class="font-weight-bold">DPIC</span>
                        </div>
                       </div>    
        
    </div>