<ol class="pf-v5-c-progress-stepper" role="list">
  <li
    class="pf-v5-c-progress-stepper__step pf-m-success"
    role="listitem"
    aria-label="completed step,"
  >
    <div class="pf-v5-c-progress-stepper__step-connector">
      <span class="pf-v5-c-progress-stepper__step-icon">
        <i class="fas fa-check-circle" aria-hidden="true"></i>
      </span>
    </div>
    <div class="pf-v5-c-progress-stepper__step-main">
      <div class="pf-v5-c-progress-stepper__step-title wht">First step</div>
      <div
        class="pf-v5-c-progress-stepper__step-description wht"
      >This is the first thing to happen</div>
    </div>
  </li>
  <li
    class="pf-v5-c-progress-stepper__step pf-m-current pf-m-info"
    role="listitem"
    aria-label="current step,in process step,"
  >
    <div class="pf-v5-c-progress-stepper__step-connector">
      <span class="pf-v5-c-progress-stepper__step-icon">
        <i class="pf-v5-pficon pf-v5-pficon-resources-full" aria-hidden="true"></i>
      </span>
    </div>
    <div class="pf-v5-c-progress-stepper__step-main">
      <div class="pf-v5-c-progress-stepper__step-title wht">Second step</div>
      <div
        class="pf-v5-c-progress-stepper__step-description wht"
      >This is the second thing to happen</div>
    </div>
  </li>
  <li
    class="pf-v5-c-progress-stepper__step pf-m-pending"
    role="listitem"
    aria-label="pending step,"
  >
    <div class="pf-v5-c-progress-stepper__step-connector">
      <span class="pf-v5-c-progress-stepper__step-icon"></span>
    </div>
    <div class="pf-v5-c-progress-stepper__step-main">
      <div class="pf-v5-c-progress-stepper__step-title wht">Third step</div>
      <div
        class="pf-v5-c-progress-stepper__step-description"
      >This is the last thing to happen</div>
    </div>
  </li>
  <li
  class="pf-v5-c-progress-stepper__step pf-m-pending"
  role="listitem"
  aria-label="pending step,"
>
  <div class="pf-v5-c-progress-stepper__step-connector">
    <span class="pf-v5-c-progress-stepper__step-icon"></span>
  </div>
  <div class="pf-v5-c-progress-stepper__step-main">
    <div class="pf-v5-c-progress-stepper__step-title wht">Fourth step</div>
    <div
      class="pf-v5-c-progress-stepper__step-description wht"
    >This is the last thing to happen</div>
  </div>
</li>
</ol>